div.breadcrumbs
    div.container
        ul.breadcrumbs-list
            li.breadcrumbs-item
                a(href="" class="breadcrumbs-link") Главная
            li.breadcrumbs-item
                span(class="breadcrumbs-current") Политика конфиденциальности
