.carousel-wrapper
    .js-place-carousel
        div
            img(src="img/rectangle.jpg" alt="item-1")
        div
            video(width="320" height="240" controls)
                source(src="img/movie.mp4" type="video/mp4")
                source(src="img/movie.ogg" type="video/ogg")
        div
            img(src="img/rectangle.jpg" alt="item-3")
    img.prev-btn(src="img/arrow-left.svg" alt="arrow-left" width="23" height="30")
    img.next-btn(src="img/arrow-right.svg" alt="arrow-right" width="23" height="30")