footer.footer
    div.container
        .d-f.footer-wrapper
            picture(class="footer-logo")
                source(media="(min-width:768px)" srcset="img/logo.svg")
                img(src="img/logo-mobile.svg" alt="logo")
            ul.footer-menu
                li
                    a(href="#about") Про фонд
                li
                    a(href="#learning") Наш підхід
                li
                    a(href="#direction") Напрямки навчання
                li
                    a(href="#gallery") Галерея
                li
                    a(href="#social") Про проект
            .footer-social
                p Соціальні мережі
                ul.d-f.align-center
                    li
                        a(href)
                            img(src="img/facebook.png" alt="facebook")
                    li
                        a(href)
                            img(src="img/instagram.png" alt="instagram")
                    li
                        a(href)
                            img(src="img/youtube.png" alt="youtube")