footer.footer
    div.container
        .d-f.footer-wrapper
            .footer-logo
                img(src="img/logo-dia.png" alt="logo")
            ul.footer-menu
                li.js-anchor
                    a(href="#about") Про фонд
                li.js-anchor
                    a(href="#learning") Наш підхід
                li.js-anchor
                    a(href="#direction") Напрямки навчання
                li.js-anchor
                    a(href="#gallery") Галерея
                li.js-anchor
                    a(href="#social") Про проект
            .footer-social
                p Соціальні мережі
                ul.d-f.align-center
                    li
                        a(href="https://www.facebook.com/diya.school" target="_blank")
                            img(src="img/facebook.png" alt="facebook")
                    li
                        a(target="_blank" href="https://instagram.com/diya_school?igshid=6kpt2ykpk5jh")
                            img(src="img/instagram.png" alt="instagram")
                    li
                        a(href)
                            img(src="img/youtube.png" alt="youtube")