header.header
    div(class="container d-f align-center justify-between")
        picture(class="logo")
            source(media="(min-width:768px)" srcset="img/logo.svg")
            img(src="img/logo-mobile.svg" alt="logo")
        div(id="nav-icon2")
            span
            span
            span
            span
            span
            span
        nav.header-nav.js-header-nav
            ul.nav-menu
                li.active.js-anchor
                    a(href="#about") Про нас
                li.js-anchor
                    a(href="#learning") Наш підхід
                li.js-anchor
                    a(href="#direction") Напрямки навчання
                li.js-anchor
                    a(href="#gallery") Галерея
                li.js-anchor
                    a(href="#social") Про проект
            button.btn.btn-primary.w100-mobile(type="button"  data-toggle="modal" data-target="#subscribe_modal") отримати консультацию
