.about(id="about")
    .container
        .heading-main Про
            span.marker нас
        .d-f.row
            .about-text 
                img.about-decorate.about-decorate-1(src="img/about-decorate-1.png" alt="about img")
                p Дитячий навчальний центр «Дія» - це новий освітній простір для дітей від 4-х років. Кожен напрямок є самостійним структурним підрозділом навчального центру. Кожен курс навчання по своєму унікальний і цікавий.
                p Наші викладачі - талановиті педагоги, які мають спеціальну освіту і досвід практичної роботи.
                p Наші програми є авторськими, оскільки розроблені нашими фахівцями.
                p У наших класах затишно, тепло. є кондиціонери, кулери з водою, чай, кава, печиво. 
                p Матеріально-технічне та наочно-методичне забезпечення навчального процесу відповідає найвищим стандартам позашкільної освіти і постійно оновлюється в залежності від потреб учнів.
                p Залежно від розпорядку дня вашої дитини ви можете обрати найбільш зручний для вас графік занять на курсах - заняття в групах проводяться в ранковий, денний або вечірній час, а графік індивідуальних занять курсів визначаєте ви самі після співбесіди з викладачем!
            .about-img
                img.about-decorate.about-decorate-2(src="img/about-decorate-2.png" alt="about img")
                .image-wrapper
                    img.about-image(src="img/about-img.png" alt="about img")