.banner
    img.banner-decor.banner-decor-1(src="img/banner-decor-1.png" alt="decor")
    img.banner-decor.banner-decor-2(src="img/banner-decor-2.png" alt="decor")
    .container
        div(class="js-top-banner top-banner")
            div
                img(src="img/banner-1.jpg" alt="banner-1")
                .banner-text
                    .banner-heading підтримка освіти!
                    span в Харкові і Харківській області
            div
                img(src="img/banner-1.jpg" alt="banner-2")
                .banner-text
                    .banner-heading підтримка освіти!
                    span в Харкові і Харківській області
            div
                img(src="img/banner-1.jpg" alt="banner-3")
                .banner-text
                    .banner-heading підтримка освіти!
                    span в Харкові і Харківській області
