.direction
    .container
        .d-f
            .direction-massonry
            .direction-text
                .heading-main Напрямок
                    br
                    span.marker навчання
                ul.direction-list.custom-ul
                    li Математика 
                    li Логіка 
                    li Фізика 
                    li Географія 
                    li Історія 
                    li Хімія 
                    li Біологія і ін