.direction(id="direction")
    img.direction-decor.direction-decor-1(src="img/massonry-decor-1.png" alt="decor-1")
    img.direction-decor.direction-decor-2(src="img/massonry-decor-2.png" alt="decor-2")
    .container
        .d-f.row
            .direction-massonry
                img(src="img/colage.png" alt="colage")
            .direction-text
                .heading-main Напрямок
                    br
                    span.marker навчання
                ul.direction-list.custom-ul.mb-0
                    li Математика 
                    li Логіка 
                    li Фізика 
                    li Географія 
                    li Історія 
                    li Хімія 
                    li Біологія і ін