.gallery(id="gallery")
    .container
        .heading-main.text-center Галере
            span.marker я
        div(class="js-gallery top-banner")
            div
                img(src="img/gallery-1.png" alt="gallery-1")
            div
                img(src="img/gallery-2.png" alt="gallery-2")
            div
                img(src="img/gallery-3.png" alt="gallery-3")
            div
                img(src="img/gallery-1.png" alt="gallery-1")
            div
                img(src="img/gallery-2.png" alt="gallery-2")
            div
                img(src="img/gallery-3.png" alt="gallery-3")
