.learning(id="learning")
    img.learning-decor(src="img/about-decorate-3.png" alt="decorate")
    .container
        .heading-main Наш підхід до
            br
            span.marker викладання
        .learning-blocks
            ul.learning-list
                li.d-f.align-center
                    img(src="img/icon-individual.svg" alt="individual" class="learning-icon")
                    span індивідуальний підхід; 
                li.d-f.align-center
                    img(src="img/icon-orientation.svg" alt="individual" class="learning-icon")
                    span особистісно-зорієнтоване навчання і виховання; 
                li.d-f.align-center
                    img(src="img/icon-time.svg" alt="individual" class="learning-icon")
                    span розподіл навчального часу: 20% - теорія, 80% - практика; 
                li.d-f.align-center
                    img(src="img/icon-homework.svg" alt="individual" class="learning-icon")
                    span жодних домашніх завдань (ми навчимо швидко і якісно виконувати шкільні завдання; 
                li.d-f.align-center
                    img(src="img/icon-bonus.svg" alt="individual" class="learning-icon")
                    span система накопичення бонусів за навчання, дисципліну та соціальну активність; 
            ul.learning-list
                li.d-f.align-center
                    img(src="img/icon-purse.svg" alt="individual" class="learning-icon")
                    span безкоштовні майстер-класи для учнів та їх батьків від волонтерів благодійного фонду «Дія»;
                li.d-f.align-center
                    img(src="img/icon-like.svg" alt="individual" class="learning-icon")
                    span прозорий і зрозумілий підхід до навчання шляхом взаємодії вчителів, дітей та батьків;
                li.d-f.align-center
                    img(src="img/icon-heart.svg" alt="individual" class="learning-icon")
                    span відкриті соціальні заходи, що мають на меті привернути увагу молоді до необхідності формування активної громадянської позиції.