form.search-form
    .form-group.search-1
        input(type="text", placeholder="Место" class="form-control")
    .form-group.form-group__lg.search-2.js-select
        select
            option(value="val-1") Львов
            option(value="val-2") Киев
            option(value="val-3") Харьков
            option(value="val-4") Одесса
    .form-group.search-3
        button(type="submit" class="btn btn-100 btn-arrow") найти