.social#social
    .container
        .heading-main Соціальний 
            br
            span.marker проект
        .social-block.d-f.row
            img.social-decor.social-decor-1(src="img/social-decor-2.png" alt="decor-2")
            .social-img.social-narrow
                .image-wrapper.gradient
                    img(src="img/social-img.png" alt="")
            .social-text.social-wide
                .heading-h3 Умови:
                ul.custom-ul
                    li Заняття проводяться 2 рази на тиждень по 1 год., 1,5 год., 2 год. в залежності від обраного курсу з 10-00 до 20-00 год.;
                    li Повний курс розрахований на 9 місяців;
                    li В період літніх канікул проводяться предметні табори, в яких учні мають змогу застосувати набуті знання на практиці (екскурсії на підприємства, зустрічі з фахівцями, мійстер-класи, відвідування навчальних закладів Харківщини та України);
                    li Передбачена система накопичувальних бонусів, які можна витратити на навчання, розвивальні ігри та призи. Також для учнів та батьків навчального центру пропонуються безкоштовні майстер-класи від волонтерів БФ «Дія».
        .social-block.d-f.row
            img.social-decor.social-decor-2(src="img/social-decor-1.png" alt="decor-1")
            .social-img.mobile-order-2.social-narrow
                .image-wrapper.image-wrapper__inverse.gradient
                    img(src="img/social-img-1.png" alt="")
            .social-text.mobile-order-1.social-wide
                .heading-h3 Цілі:
                ul.custom-ul
                    li Розвинути логічне, критичне та аналітичне мислення і просторову уяву;
                    li Виховати впевненість, охайність, доброзичливість і уміння працювати в команді;
                    li Допомогти учням в опануванні базових знань;
                    li Розширити сфери застосування набутих знань в повсякденному житті;
                    li Зменшити час виконання шкільних домашніх завдань;
                    li Якісно підготуватися до проходження ДПА та ЗНО;
                    li Визначитися з напрямом майбутньої освіти;
                    li Ознайомитися з ринком праці та ВУЗами, що пропонують здобуття професійної освіти обраного рівня.
        .social-block.d-f.row
            .social-img.social-narrow
                img(src="img/action.png" alt="")
            .social-text.social-wide.lh-15
                p Ми знаємо, як привернути увагу молоді до формування активноі громадськоі позиціі та бути небайдужими до навколошнього світу, тому Ми маємо Благодійний Фонд "ДІЯ". Наші підопічні це багатодітні сім'ї та одинокі мами, дитячі будинки сімейного типу, особливі дітки (інваліди), інтернати для дітей-інвалідів. На сьогоднішній день фонд піклується кількома ДБСТ (дитячі будинки сімейного типу), набуває будинки для сімей СЖО (складні життєві обставини), бере участь в програмі реабілітації та допомоги сім'ям, допомогає з продутами, ліками і предметами першої необхідності. Опікуємося дитячим психоневрологічним санаторієм та допомагаємо дитячій клінічній лікарні №1. 
                p Також ми організовуємо виїзні заходи для дітей в розважальних центрах і парках міста, другий рік за участю Фонду дітвора відпочиває на морі. Ми допомагаємо майже всім людям, які звертаються до фонду за допомогою!