.subscribe-form-wrapper
    .container
        .subscribe-heading Запишіться на безкоштовну консультацію
        form.contact__form.subscribe-form.js_validate(method="post" action="mail.php")
            .form-group
                input(class="form-control" type="text" placeholder="Ваше ім'я*")
            .form-group
                input(class="form-control" type="tel" placeholder="Ваш телефон*" autocomplete="off" required data-validate="phone")
                span.error-text Введите номер телефона
            .form-group
                button.btn.btn-primary.w100-mobile(type="submit") отримати консультацию