.subscribe-form-wrapper
    .container
        .subscribe-heading Запишіться на безкоштовну консультацію
        .subscribe-form
            .form-group
                input(class="form-control" type="text" placeholder="Ваше ім'я*")
            .form-group
                input(class="form-control" type="tel" placeholder="Ваш телефон*" autocomplete="off")
            .form-group
                button.btn.btn-primary.w100-mobile(type="button") отримати консультацию