@import "../../mixins/media";

.btn {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #ffffff;
    border: none;
    height: 44px;
    padding: 14px 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn-100 {
    width: 100%;
}
