@import "../../mixins/media";

.btn {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    background-image: linear-gradient(to right, #1be7be, #4bd6d5);
    border: none;
    height: 50px;
    padding: 15px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.11;
    border-radius: 50px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn-100 {
    width: 100%;
}
