.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: var(--input-color);
    background-clip: padding-box;
    border: none;
    background-color: #ffffff;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    @media screen and (min-width: 1024px) {
        max-width: 300px;
    }

    &:focus {
        outline: none;
    }

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: var(--input-color);
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: var(--input-color);
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: var(--input-color);
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: var(--input-color);
    }
}
