@import "../mixins/media";

.search {
    &-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;

        @media screen and (min-width: 568px) and (orientation: landscape) {
            top: 10%;
        }

        @media screen and (min-width: 1280px) {
            top: 30%;
        }
    }

    &-form {
        @include media-tablet-horizontal {
            display: flex;
            justify-content: center;
        }
    }

    &-1 {
        @include media-tablet-horizontal {
            width: 242px;
            margin-right: 2px;

            .form-control {
                border-radius: 27.5px 0 0 27.5px;
            }
        }
    }

    &-2 {
        position: relative;

        @include media-tablet-horizontal {
            width: 220px;
            margin-right: 2px;

            select {
                border-radius: 0;
            }
        }

        &::after {
            content: url("../img/select-arrow.svg");
            position: absolute;
            top: 20px;
            right: 20px;
            width: 12px;
            height: 6px;
            line-height: 6px;
            transform-origin: center;
        }

        &:focus-within {
            &::after {
                transform: rotate(-180deg);
            }
        }

        &.close {
            &::after {
                transform: rotate(0);
            }
        }
    }

    &-3 {
        @include media-tablet-horizontal {
            .btn {
                min-width: 184px;
                border-radius: 0 27.5px 27.5px 0;
            }
        }
    }
}
