.lang-bar {
    font-size: 14px;
    color: #404040;
    
    span {
        font-weight: 600;
        margin-right: 15px;

        &::after {
            content: "/";
            margin-left: 15px;
            font-weight: 500;
            color: #999999;
        }
    }

    a {
        color: #999999;
    }
}