extends common/layout-mainpage

block content
    main.main
        include includes/mainPage/banner
        include includes/mainPage/subscribe
        include includes/mainPage/about
        include includes/mainPage/learning
        include includes/mainPage/direction
        include includes/mainPage/gallery
        include includes/mainPage/subscribe
        include includes/mainPage/social
        include includes/mainPage/subscribe
        .container