.subscribe {
    &-heading {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: var(--text-color);
        text-align: center;

        @media screen and (min-width: 1024px) {
            font-size: 30px;
        }
    }

    &-form-wrapper {
        padding: 20px 0;
        background: linear-gradient(90deg, #ef60c5 0%, #fff8d4 100%);

        @media screen and (min-width: 1024px) {
            padding: 50px 0;
            background: url("../img/subscribe-bg.png");
            background-repeat: no-repeat;
        }

        @media screen and (min-width: 1921px) {
            background-size: cover;
        }
    }

    &-form {
        @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
