.direction {
    position: relative;
    @media screen and (min-width: 1280px) {
        padding-top: 110px;
    }

    &-massonry {
        @media screen and (min-width: 1024px) {
            flex: 0 0 50%;
            padding: 0 15px;
        }
    }

    &-text {
        @media screen and (min-width: 1024px) {
            flex: 0 0 50%;
            padding: 0 15px;
        }
    }

    &-decor {
        position: absolute;

        &-1 {
            left: 0;
            top: calc(100% - 100px);
        }

        &-2 {
            top: 100px;
            right: 0;
        }
    }
}
